./target
Dockerfile*
*.swp
.dockerignore
.gitignore
.git
.github
doc
.idea
**/*.yaml
**/*.md
**/*.json
**/*.sh
**/*.png
**/*.svg
# OSX files
.DS_Store

# Exception - Used in docker build
!limitador-server/examples/limits.yaml