---
version: '3.8'
services:
  limitador:
    image: ${LIMITADOR_IMAGE:-limitador-testing}
    depends_on:
      - envoy
      - redis
    command:
      - limitador-server
      - --rls-ip
      - 0.0.0.0
      - --rls-port
      - "8081"
      - --http-ip
      - 0.0.0.0
      - --http-port
      - "8080"
      - -vvv
      - --grpc-reflection-service
      - /opt/kuadrant/limits/limits.yaml
      - redis
      - rediss://:foobared@redis:6379/#insecure
    expose:
      - "8080"
      - "8081"
    ports:
      - "18080:8080"
    volumes:
      - ./limits.yaml:/opt/kuadrant/limits/limits.yaml
  redis:
    image: redis:6.2
    restart: always
    ports:
      - '6379:6379'
    command:
      - redis-server
      - /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis-tls/redis-config.conf:/usr/local/etc/redis/redis.conf
      - ./redis.crt:/usr/local/etc/redis/certs/redis.crt
      - ./redis.key:/usr/local/etc/redis/certs/redis.key
      - ./ca.crt:/usr/local/etc/redis/certs/ca.crt
