[package]
name = "limitador"
version = "0.3.0-dev"
authors = ["David Ortiz <z.david.ortiz@gmail.com>", "Eguzki Astiz Lezaun <eguzki@redhat.com>", "Alex Snaps <asnaps@redhat.com>"]
license = "Apache-2.0"
keywords = ["rate-limiting", "rate", "limiter"]
categories = ["web-programming"]
description = "Rate limiting library"
homepage = "https://kuadrant.io"
repository = "https://github.com/kuadrant/limitador"
documentation = "https://docs.rs/limitador"
readme = "README.md"
edition = "2021"

# We make redis and infinispan optional to be able to compile for wasm32.
[features]
default = ["redis_storage"]
redis_storage = ["redis", "r2d2", "tokio"]
infinispan_storage = ["infinispan", "reqwest"]
lenient_conditions = []

[dependencies]
ttl_cache = "0.5"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
futures = "0.3"
async-trait = "0.1"
cfg-if = "1"
prometheus = "0.13"
lazy_static = "1"

# Optional dependencies
redis = { version = "0.21", optional = true, features = [
    "connection-manager",
    "tokio-comp",
] }
r2d2 = { version = "0.8", optional = true }
tokio = { version = "1", optional = true, features = [
    "rt-multi-thread",
    "macros",
    "time",
] }
infinispan = { version = "0.3", optional = true }
reqwest = { version = "0.11", optional = true }

[dev-dependencies]
serial_test = "0.9"
criterion = "0.3"
paste = "1"
rand = "0.8"
tokio = { version = "1", features = [
    "rt-multi-thread",
    "macros",
    "time",
] } # wasm_storage tests use tokio::test

[[bench]]
name = "bench"
path = "benches/bench.rs"
harness = false
