name: Add issues to project

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    # Only run jobs if the feature branch is in your repo (not in a fork)
    # OR
    # it is an issue
    # AND
    # it is not a Dependabot PR (secrets are not available to Dependabot)
    if: (github.event.pull_request.head.repo.full_name == github.repository || github.event.issue.number != '') && (github.event_name == 'issues' || github.event.pull_request.user.login != 'dependabot[bot]')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/Kuadrant/projects/18
          github-token: ${{ secrets.ADD_ISSUES_TOKEN }}
